body {
    width: 100%;
    margin: 0 auto;
    background-color: black;
}

header {
    background-image: url(images/header.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
    text-align: center;
}

.section1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.info {
    display: flex;
    justify-content: right;
}

.intro {
    color: white;
    text-align: right;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    letter-spacing: 3px;
}

span {
    color: orange;
}

.portrait {
    width: 500px;
    opacity: 75%;
}