body {
    background-image: url("../images/about-background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
}
  
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
  
nav ul li a {
    text-decoration: none;
    color: orange;
    font-weight: bold;
}
  
nav ul li a:hover {
    color: white;
}

.JCLogo {
    height: 200px;
    width: 200px;
}

.center {
    margin: auto;
    width: 80%;
    color: white;
    padding: 10px;
}

.my-project {
    width: auto;
    height: auto;
    border: 3px white solid;
    border-radius: 5px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 50px;
}

.project-image {
    width: 400px;
    height: auto;
    margin: auto;
    border-radius: 3px;
}

.content {
    margin: 30px;
    font-family: 'Fjalla One', sans-serif;
}

h1 {
    font-size: 30px;
    letter-spacing: 5px;
    color: orange;
}

p {
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    margin: 30px 0px;
}

button {
    background-color: orange;
    color: black;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
}

button:hover {
    background-color: transparent;
    border: 2px solid orange;
    color: orange;
    transition: .4s;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}